@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 100%; }

.main {
  display: flex;
  flex-direction: column; }

.mainPages {
  margin-top: 0em; }

h1 {
  font-size: 1.5em;
  margin-top: 2em; }

h2 {
  margin: 1.5em 0 1em 1em; }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    h2 {
      font-size: 2em; } }
  @media screen and (min-width: 993px) {
    h2 {
      font-size: 2.5em; } }

a {
  text-decoration: none;
  color: #fff; }
  a#gps {
    color: black; }

h3,
h4 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  font-size: 1em;
  margin-bottom: 0; }

hr {
  background-color: #99e2d0;
  height: 3px;
  width: 12%;
  text-align: left;
  margin-bottom: 1em;
  margin-left: 0;
  border: none; }

#fleche {
  position: absolute;
  left: 1.5em;
  display: block;
  width: 1em;
  padding-top: 0.5em;
  padding-left: 2em; }

/* Loader */
.loader {
  width: 100%;
  height: 100%;
  background-color: #99e2d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .loader .tube {
    width: 30%;
    height: 4%;
    margin-bottom: 20px;
    border: solid 2px #f6f6f6;
    background-color: #ff79da;
    border-radius: 2px;
    animation: loadBar 1s 100ms ease-in-out 3 alternate both; }
    .loader .tube-1 {
      animation-delay: 300ms; }
    .loader .tube-2 {
      animation-delay: 600ms; }
    .loader .tube-3 {
      animation-delay: 900ms; }
    .loader .tube-4 {
      animation-delay: 1200ms; }
    .loader .tube .boule {
      display: block;
      margin-top: 5px;
      width: 15%;
      height: 75%;
      background-color: #139274;
      border-radius: 50%;
      margin-left: 20%;
      animation: mvtBoule 1s 100ms ease-in-out 4 alternate both; }
      .loader .tube .boule-1 {
        animation-delay: 500ms; }
      .loader .tube .boule-2 {
        animation-delay: 1000ms; }
      .loader .tube .boule-3 {
        animation-delay: 1500ms; }
      .loader .tube .boule-4 {
        animation-delay: 2000ms; }

@keyframes loadBar {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }

@keyframes mvtBoule {
  0% {
    margin-left: 0%;
    opacity: 1; }
  100% {
    margin-left: 80%;
    opacity: 0.8; } }

.flexHeader {
  height: 1em;
  width: 100%;
  background-color: #fff;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 2em 0 2em; }

.locate {
  height: 3em;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px solid #d8d8d8;
  border-radius: 3px;
  font-family: "Roboto";
  padding-bottom: 1em; }
  .locate img {
    margin-right: 1em; }

footer {
  height: 12em;
  width: 100%;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  color: #fff;
  line-height: 1.7; }
  footer .flexFooter {
    padding: 1.5em; }
    footer .flexFooter .suggestResto {
      display: flex;
      flex-direction: row;
      justify-content: start; }
      footer .flexFooter .suggestResto h4 {
        margin-left: 0.5em; }
    footer .flexFooter .partner {
      display: flex;
      flex-direction: row;
      align-items: center; }
      footer .flexFooter .partner h4 {
        margin-left: 0.5em;
        font-weight: 100; }

.fa-heart.fas {
  color: #9356dc;
  font-size: 1.5em; }

.fa-heart.far {
  color: #353535;
  font-size: 1.5em; }

.heart2 {
  position: absolute;
  bottom: 0;
  right: 0;
  transition: height 0.4s ease;
  height: 0;
  overflow: hidden; }

.heartAnime {
  position: absolute;
  top: 11.5em;
  right: 2em;
  height: 30px; }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .heartAnime {
      margin-top: 10em; } }
  .heartAnime:hover .heart2 {
    height: 30px; }

.heartPages {
  position: absolute;
  top: 2em; }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .heartPages {
      margin-top: 1em; } }
  @media screen and (min-width: 993px) {
    .heartPages {
      margin-top: 2em; } }

/* Animation à l'affichage de la page de menus : les menus apparaissent peit à petit*/
@keyframes affichageMenus {
  0% {
    transform: translateY(20%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

#e1 {
  animation: affichageMenus 1s ease-out 0s 1; }

#e2 {
  animation: affichageMenus 2s ease-out 0s 1; }

#e3 {
  animation: affichageMenus 3s ease-out 0s 1; }

#p1 {
  animation: affichageMenus 4s ease-out 0s 1; }

#p2 {
  animation: affichageMenus 5s ease-out 0s 1; }

#p3 {
  animation: affichageMenus 6s ease-out 0s 1; }

#d1 {
  animation: affichageMenus 7s ease-out 0s 1; }

#d2 {
  animation: affichageMenus 8s ease-out 0s 1; }

#d3 {
  animation: affichageMenus 9s ease-out 0s 1; }

/***********************************************/
/***********************************************/
/* Animation bouton check et texte tronqué*/
/***********************************************/
/***********************************************/
.nomPlat {
  flex-grow: 1;
  width: 70%;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
  .nomPlat p,
  .nomPlat h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0;
    margin-left: 1em;
    line-height: 1.5; }

.prix {
  width: 20%;
  margin-top: 1em;
  text-align: center; }

.box {
  display: flex;
  width: 0.0000001%;
  transition: all 1s ease-in-out;
  background-color: #99e2d0; }
  .box .check {
    margin: auto;
    transition: transform 1s;
    transform: rotate(0deg);
    background-color: #99e2d0;
    border-radius: 50%; }
    .box .check .fa-check-circle {
      border: none;
      background-color: white; }

.menus {
  background-color: white;
  display: flex;
  width: 80%;
  margin: 0 auto 1em;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer; }
  .menus:hover > .box {
    width: 20%; }
    .menus:hover > .box .check {
      transform: rotate(360deg); }

@media screen and (min-width: 993px) {
  .modeEmploi {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 5em; }
    .modeEmploi .etape {
      margin: auto;
      width: 25%; }
      .modeEmploi .etape span {
        top: -10px;
        left: 130px; }
      .modeEmploi .etape p {
        font-size: 1em;
        white-space: nowrap; }
  .heart1Pages {
    position: absolute;
    top: 24em;
    right: 3em; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .modeEmploi {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; }
    .modeEmploi .etape {
      margin: auto;
      width: 25%; }
      .modeEmploi .etape span {
        top: -.9em;
        left: 5.5em; }
      .modeEmploi .etape p {
        font-size: .8em;
        white-space: nowrap;
        margin: 0 .5em 0 0; }
  .responsive {
    display: block;
    margin: 0 auto;
    width: 100%; }
  .heart1Pages {
    position: absolute;
    top: 19em;
    right: 3em; }
  .notes2 {
    margin-top: 5em;
    padding-top: 5em; }
    .notes2 .restaurants {
      width: 80%; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .mainPages {
    margin-top: -4em;
    padding-top: 0em; } }

.photoP1 .imgRes {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(/img/restaurants/p1.jpg);
  border-radius: 10px; }
  .photoP1 .imgRes .inner {
    padding-top: 66.68%;
    /* height/width of image */
    display: block;
    height: 0; }

.photoP2 .imgRes {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(/img/restaurants/p2.jpg);
  border-radius: 10px; }
  .photoP2 .imgRes .inner {
    padding-top: 66.68%;
    /* height/width of image */
    display: block;
    height: 0; }

.photoP3 .imgRes {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(/img/restaurants/p3.jpg);
  border-radius: 10px; }
  .photoP3 .imgRes .inner {
    padding-top: 66.68%;
    /* height/width of image */
    display: block;
    height: 0; }

.photoP4 .imgRes {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(/img/restaurants/p4.jpg);
  border-radius: 10px; }
  .photoP4 .imgRes .inner {
    padding-top: 66.68%;
    /* height/width of image */
    display: block;
    height: 0; }

.etape {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.5em 0.5em;
  background-color: #f6f6f6;
  width: 80%;
  margin: 1.8em 2em;
  height: 4em;
  border-radius: 1.2em;
  box-shadow: 2px 8px 15px #d8d8d8;
  transform: scale(1);
  transition: transform 500ms ease-in-out; }
  .etape .fa-mobile-alt,
  .etape .fa-list-ul,
  .etape .fa-hamburger {
    color: #7e7e7e;
    font-size: 25px; }
  .etape p {
    margin: 0; }
  .etape :last-child,
  .etape :nth-child(2) {
    margin-left: 1.5em;
    font-weight: 600;
    font-size: 1.4em; }
  .etape span {
    display: block;
    position: absolute;
    top: calc(50% - 12px);
    left: -10px;
    width: 1.5em;
    height: 1.5em;
    background-color: #9356dc;
    border-radius: 50%;
    text-align: center;
    color: white; }
  .etape:hover {
    transform: scale(1.02);
    cursor: pointer; }

.booking {
  margin-bottom: 4em; }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .booking {
      padding-bottom: 5em; }
      .booking .etape {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 7em; }
        .booking .etape p {
          font-size: 1em; }
        .booking .etape i {
          margin-left: -0.3em; }
        .booking .etape span {
          display: block;
          position: absolute;
          top: -10px;
          left: calc(50% - 14px);
          width: 1.5em;
          height: 1.5em;
          background-color: #9356dc;
          border-radius: 50%;
          text-align: center;
          color: white; } }
  @media screen and (min-width: 993px) {
    .booking h2 {
      margin-top: 1em; } }

@media screen and (min-width: 993px) {
  .modeEmploi {
    display: flex; }
    .modeEmploi .etape {
      display: flex;
      flex-direction: column;
      height: 6em; }
      .modeEmploi .etape > * {
        margin: auto; }
      .modeEmploi .etape span {
        display: block;
        position: absolute;
        top: -10px;
        left: calc(50% - 10px);
        width: 1.5em;
        height: 1.5em;
        background-color: #9356dc;
        border-radius: 50%;
        text-align: center;
        color: white; }
      .modeEmploi .etape p {
        font-size: 1.5em; } }

.btnPrincipal {
  display: block;
  background-color: #9356dc;
  border-radius: 5em;
  padding: 1em 3.5em;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin: auto;
  max-width: 30%;
  max-height: 10%;
  background: linear-gradient(-10deg, #9356dc, #ff79da);
  transition: background-color 500ms ease-in-out;
  box-shadow: 0px 10px 16px -3px rgba(0, 0, 0, 0.17);
  transition: box-shadow 500ms ease-in-out; }
  .btnPrincipal p {
    margin: 0; }
  .btnPrincipal:hover {
    background: linear-gradient(-10deg, #a16be0, #ff93e1);
    box-shadow: 0px 10px 16px -3px rgba(0, 0, 0, 0.8); }

.btn {
  background-color: #9356dc;
  border-radius: 5em;
  border: none;
  color: #fff;
  height: 3.5em;
  line-height: 3.5em;
  font-size: 1.3em;
  font-family: "Roboto";
  padding: 0 1.5em 0 1.5em;
  background: linear-gradient(-10deg, #9356dc, #ff79da);
  transition: background-color 500ms ease-in-out;
  box-shadow: 0px 10px 16px -3px rgba(0, 0, 0, 0.17);
  transition: box-shadow 500ms ease-in-out; }
  .btn:hover {
    background: linear-gradient(-10deg, #a16be0, #ff93e1);
    box-shadow: 0px 10px 16px -3px rgba(0, 0, 0, 0.8); }

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 4em;
  background-color: #f6f6f6; }
  .explorer .welcome {
    padding: 0 4em 2em 4em; }
    .explorer .welcome p {
      color: #696969;
      margin: auto; }

.new {
  float: right;
  padding-top: 0.5em;
  margin-right: 1em;
  width: 5.5em;
  height: 1.8em;
  text-align: center;
  vertical-align: middle;
  background-color: #99e2d0;
  border-radius: 2px;
  color: #139274;
  font-size: 0.8em;
  font-weight: 600; }

.radiusPage {
  border-radius: 50px 50px 0 0; }

.notes {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-bottom: 3.5em;
  margin-top: -3em; }
  .notes .nomAvis {
    position: relative;
    display: flex;
    font-family: "Shrikhand", cursive; }
  .notes .troisEnsembles .three-dishes {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column; }
    .notes .troisEnsembles .three-dishes .dish {
      display: flex;
      flex-direction: column;
      margin-left: 2em; }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        .notes .troisEnsembles .three-dishes .dish {
          margin-left: 3em; } }
      @media screen and (min-width: 993px) {
        .notes .troisEnsembles .three-dishes .dish {
          margin-left: 1.5em; } }
    .notes .troisEnsembles .three-dishes .menus {
      width: 90%; }
  @media screen and (min-width: 993px) {
    .notes .troisEnsembles {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; } }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .notes .tousRestos {
      padding-top: 7em; } }

.nomResto {
  margin-left: 1em; }
  .nomResto p {
    margin-top: 0.3em;
    margin-bottom: 1em; }

/***********************************************/
/***********************************************/
/***********************************************/
/***********************************************/
.tousRestos {
  display: flex;
  flex-wrap: wrap; }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .titre {
    position: absolute;
    top: 23.5em; } }

@media screen and (min-width: 993px) {
  .titre {
    width: 100%;
    align-self: flex-start;
    margin-top: 1em; } }

.restaurants {
  width: 90%;
  margin: 0 auto 1.5em auto;
  padding-bottom: 0.1em;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  position: relative;
  box-shadow: 2px 8px 20px #d8d8d8;
  transition: box-shadow 500ms ease-in-out; }
  .restaurants:hover {
    box-shadow: 2px 8px 20px #a5a5a5;
    cursor: pointer; }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .restaurants .nomResto h3 {
      padding-top: 1.5em; } }
  @media screen and (min-width: 993px) {
    .restaurants {
      margin: 0.5em auto 0.5em;
      width: 40%; }
      .restaurants p {
        font-size: 1.2em; }
      .restaurants h3 {
        font-size: 1.8em; } }
  .restaurants .photo1,
  .restaurants .photo2,
  .restaurants .photo3,
  .restaurants .photo4 {
    height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 20px 20px 0 0;
    margin-bottom: 1em; }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      .restaurants .photo1,
      .restaurants .photo2,
      .restaurants .photo3,
      .restaurants .photo4 {
        height: 20em;
        text-align: center;
        margin: auto; } }
  .restaurants .photo1 {
    background-image: url(./img/restaurants/p1.jpg); }
  .restaurants .photo2 {
    background-image: url(./img/restaurants/p2.jpg); }
  .restaurants .photo3 {
    background-image: url(./img/restaurants/p3.jpg); }
  .restaurants .photo4 {
    background-image: url(./img/restaurants/p4.jpg); }
