@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";
@import "./components/fleche";
@import "./components/loader";
@import "./components/header";
@import "./components/geolocalisation";
@import "./components/footer";
@import "./components/animCoeur";
@import "./components/animMenus";
@import "./components/animValider";
@import "./components/queryPC";
@import "./components/queryTablet";
@import "./components/zonePhotoRestaurant";
@import "./components/etapeModeEmploi";
@import "./components/trait";
@import "./components/boutonPrincipal";
@import "./components/explorerBtnPrincipal";
@import "./components/new";

// avis restaurants
.notes1 {
  border-radius: 3em 3em 0 0;
  z-index: 10;
  margin-top: -2em;
  h2 {
    font-family: "Shrikhand", cursive;
    font-size: 1.7em;
    margin-top: 1.5em;
  }
  p,
  hr {
    margin-left: 1.5em;
    margin-bottom: 0;
  }
}
@media screen and(min-width:768px) and(max-width:992px) {
  .mainPages {
    margin-top: -4em;
    padding-top: 0em;
  }
}
.notes,
.notes1 {
  background-color: $nuance_gris2;
  padding-bottom: 2.5em;
  margin-top: -3em;
  @media screen and(min-width:993px) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  @media screen and(min-width:768px) and(max-width:992px) {
    margin-top: 1em;
    padding-top: 6em;
  }
}
.notes1 {
  @media screen and(min-width:768px) and(max-width:992px) {
    padding-top: 0em;
  }
}
.titre {
  @media screen and(min-width:768px) and(max-width:992px) {
    margin-top: 21em;
  }
  @media screen and(min-width:993px) {
    width: 100%;
    align-self: flex-start;
    margin-top: 1em;
  }
}
.titre1 {
  @media screen and(min-width:768px) and(max-width:992px) {
    margin-top: -1.5em;
  }
  @media screen and(min-width:993px) {
    width: 100%;
    //margin-top: 2em;
  }
}

.restaurants {
  @media screen and(min-width:993px) {
    margin: 0.5em auto 0.5em;
    width: 40%;

    p {
      font-size: 0.8em;
    }
    h3 {
      font-size: 1em;
    }
  }
  width: 80%;
  margin: 0 auto 1.5em auto;
  padding-bottom: 0.1em;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  position: relative;
  box-shadow: 2px 8px 20px $nuance_gris3;
  transition: box-shadow 500ms ease-in-out;
  &:hover {
    box-shadow: 2px 8px 20px darken($nuance_gris3, 20%);
    cursor: pointer;
  }

  @media screen and(min-width:768px) and(max-width:992px) {
    .nom h3 {
      padding-top: 0.5em;
    }
  }

  .photo1,
  .photo2,
  .photo3,
  .photo4 {
    height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 20px 20px 0 0;
    margin-bottom: 1em;
    @media screen and(min-width:768px) and(max-width:992px) {
      height: 20em;
      text-align: center;
      margin: auto;
    }
  }
  .photo1 {
    background-image: url(/img/restaurants/p1.jpg);
  }
  .photo2 {
    background-image: url(/img/restaurants/p2.jpg);
  }
  .photo3 {
    background-image: url(/img/restaurants/p3.jpg);
  }
  .photo4 {
    background-image: url(/img/restaurants/p4.jpg);
  }
}

.dish {
  margin-top: 2.5em;
  margin-bottom: 1em;
  @media screen and(min-width:993px) {
    margin-left: 1em;
    //font-weight:600 ;
    /* hr{
      display: none;
    } */
  }
}

.three-dishes {
  margin-bottom: 3em;
  @media screen and(min-width:993px) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.three-dishesGE {
  
  @media screen and(min-width:993px) {
    display: flex;
    flex-direction: column;
    .entrees,
    .plats,
    .desserts {
      //width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 0.8em;
    }
  }
}
.nom {
  margin-left: 1em;
  p {
    margin-top: 0.3em;
  }
}
