.restaurants,
.order,
.dish {
    // transition: transform background-color 10s;
    transition: all 450ms;
    &:hover {
        background-color: $text_clair;
        box-shadow: 2px 10px 2px grey;
    }
}
@keyframes loadBar {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes mvtBoule {
    0% {
        margin-left: 0%;
        opacity: 1;
    }

    100% {
        margin-left: 80%;
        opacity: 0.8;
    }
}
