.new {
  float: right;
  padding-top: 0.5em;
  margin-right: 1em;
  width: 5.5em;
  height: 1.8em;
  text-align: center;
  vertical-align: middle;
  background-color: $btn_new;
  border-radius: 2px;
  color: $btn_new2;
  font-size: 0.8em;
  font-weight: 600;
}
