@media screen and(min-width:768px) and(max-width:992px){
    .modeEmploi{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        //width:100%;
        .etape{
            //flex:1;
            margin: auto;
            width:25%;
            span {
                top: -.9em;
                left: 5.5em;
            }
            p{
                font-size: .8em;
                white-space: nowrap;
                margin:0 .5em 0 0;
            }
        }
    }
    .responsive {
        display: block;
        margin: 0 auto;
        width: 100%;
        
      }
    .notes1 {
       // border-radius: 3em 3em 0 0;
        margin-top: 6em;
    }
    .heart1Pages{
        position: absolute;
        top: 26em;
        right: 3em;
    }
    .notes2{
        margin-top: 5em;
        padding-top: 5em;
      /*   display: flex;
        flex-direction: row;
        flex-wrap: wrap; */
        .titre{
            position: absolute;
            top:14em;
        }
        .restaurants{
            width:80%;
        }
    }
}
