@media screen and(min-width:993px){
 
        
    .modeEmploi{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        margin-bottom: 5em;
        //width:100%;
        .etape{
            //flex:1;
            margin: auto;
            width:25%;
            span {
                top: -10px;
                left: 130px;
            }
            p{
                font-size: 1em;
                white-space: nowrap;
            }
        }
    }
  
  
     .heart1Pages{
         position: absolute;
         top: 24em;
         right: 3em;
     }
  
}