.photoP1 {
  .imgRes {
    display: block; // RQ : si inline-block l'image ne se centre pas !!!
    width: 100%;
    margin: 0 auto;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../img/restaurants/p1.jpg);
    border-radius: 10px;
    .inner {
      padding-top: 66.68%; /* height/width of image */
      display: block;
      height: 0;
    }
  }
}

.photoP2 {
  .imgRes {
    display: block; // RQ : si inline-block l'image ne se centre pas !!!
    width: 100%;
    margin: 0 auto;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../img/restaurants/p2.jpg);
    border-radius: 10px;
    .inner {
      padding-top: 66.68%; /* height/width of image */
      display: block;
      height: 0;
    }
  }
}

.photoP3 {
  .imgRes {
    display: block; // RQ : si inline-block l'image ne se centre pas !!!
    width: 100%;
    margin: 0 auto;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../img/restaurants/p3.jpg);
    border-radius: 10px;
    .inner {
      padding-top: 66.68%; /* height/width of image */
      display: block;
      height: 0;
    }
  }
}

.photoP4 {
  .imgRes {
    display: block; // RQ : si inline-block l'image ne se centre pas !!!
    width: 100%;
    margin: 0 auto;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../img/restaurants/p4.jpg);
    border-radius: 10px;
    .inner {
      padding-top: 66.68%; /* height/width of image */
      display: block;
      height: 0;
    }
  }
}
