// Les variables
$btn_principaux: #9356dc;
$btn_validation: #ff79da;
$btn_new: #99e2d0;
$btn_new2: #139274;
$bgFooter: #353535;
$text_clair: #fff;
$nuance_gris: #eaeaea;
$nuance_gris2: #f6f6f6;
$nuance_gris3: #d8d8d8;
$nuance_gris4: #7e7e7e;
